---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<!-- 分别显示不同分类的论文 -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% comment %}
      这里是分类名，比如 conferences, preprints 等
      category[0] 是分类标识
      category[1].title 是分类显示名称，如 Conferences, Preprints
    {% endcomment %}
    {% assign posts_in_category = site.publications | where:"category", category[0] | sort: "date" | reverse %}
    {% if posts_in_category.size > 0 %}
      <h2>{{ category[1].title }}</h2>
      <hr />
      {% for post in posts_in_category %}
        <div class="publication-item">
          <strong>{{ post.title }}</strong><br />
          {% if post.author %}
            {% assign authors = post.author | replace: "Kaishen Wang", "<strong>Kaishen Wang</strong>" %}
            <span>{{ authors | raw }}</span><br />
          {% endif %}
          {% if post.venue %}
            <em>{{ post.venue }}</em><br />
          {% elsif post.journal %}
            <em>{{ post.journal }}</em><br />
          {% endif %}
          {{ post.date | date: "%Y" }}<br />
          {% if post.paperurl %}
            [<a href="{{ post.paperurl }}" target="_blank">PDF</a>]
          {% endif %}
        </div>
        <hr />
      {% endfor %}
    {% endif %}
  {% endfor %}
{% else %}
  <!-- 如果没有定义分类，全部文章平铺显示 -->
  {% for post in site.publications reversed %}
    <div class="publication-item">
      <strong>{{ post.title }}</strong><br />
      {% if post.author %}
        {% assign authors = post.author | replace: "Kaishen Wang", "<strong>Kaishen Wang</strong>" %}
        <span>{{ authors | raw }}</span><br />
      {% endif %}
      {% if post.venue %}
        <em>{{ post.venue }}</em><br />
      {% elsif post.journal %}
        <em>{{ post.journal }}</em><br />
      {% endif %}
      {{ post.date | date: "%Y" }}<br />
      {% if post.paperurl %}
        [<a href="{{ post.paperurl }}" target="_blank">PDF</a>]
      {% endif %}
    </div>
    <hr />
  {% endfor %}
{% endif %}
