---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- 如果定义了 publication_category，分门别类展示 -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <div class="publication-item">
        <strong>{{ post.title }}</strong><br />
        {% if post.author %}
          <span><strong>Authors:</strong> {{ post.author }}</span><br />
        {% endif %}
        {% if post.venue %}
          <em>{{ post.venue }}</em>, 
        {% elsif post.journal %}
          <em>{{ post.journal }}</em>, 
        {% endif %}
        {{ post.date | date: "%Y" }}<br />
        {% if post.paperurl %}
          [<a href="{{ post.paperurl }}" target="_blank">PDF</a>]
        {% endif %}
      </div>
      <hr />
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="publication-item">
      <strong>{{ post.title }}</strong><br />
      {% if post.author %}
        <span><strong>Authors:</strong> {{ post.author }}</span><br />
      {% endif %}
      {% if post.venue %}
        <em>{{ post.venue }}</em>, 
      {% elsif post.journal %}
        <em>{{ post.journal }}</em>, 
      {% endif %}
      {{ post.date | date: "%Y" }}<br />
      {% if post.paperurl %}
        [<a href="{{ post.paperurl }}" target="_blank">PDF</a>]
      {% endif %}
    </div>
    <hr />
  {% endfor %}
{% endif %}
